@font-face {
  font-family: 'Lexend300';
  src: url('../assets/fonts/lexend/LexendLight.ttf');
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: LexendRegular, Roboto, Oxygen, sans-serif;
}

html {
  font-size: 14px;
  font-weight: 500;
  //todo need add font color
  scroll-behavior: smooth;
}
